.main__card {
  height: 80%;
  width: 70%;
  position: relative;
  border: 1px solid #d4d4fc;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 10px;
}

.p__small {
  font-family: "Roboto";
  font-weight: 800;
  font-style: bold;
  font-size: 16px;
  margin-top: 10px;
}

.p__Large {
  font-weight: 800;
  font-size: 28px;
  margin-top: 5px;
  font-family: "Roboto";
}

.p_xsmall {
  font-family: "Sulphur Point", sans-serif;
  font-style: normal;
  line-height: 14px;
  font-weight: 400;
  font-size: 11px;
  margin-top: 10px;
  text-align: left;
  word-spacing: 0px;
  color: #d4d4fc;
}
.upgrade__card {
  padding: 10px;
  margin-top: 15px;
  color: #f8f8f8;
  background: rgba(212, 212, 252, 0.12);
  border: 1px solid #d4d4fc;
  border-radius: 10px;
}
