.main__sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  color: white;
  background-color: #131313;
  display: flex;
  flex-direction: column;
}

.logo__sidebar {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 14%;
  position: relative;

  justify-content: center;
  align-items: center;
}
.icon__sidebar {
  position: relative;
  margin-right: 15px;
  top: 5px;
}

.companyName__sidebar {
  font-weight: 700;
  position: relative;
  top: 5px;
  letter-spacing: 1px;

  font-size: 24px;
}

.top_logo {
  position: absolute;
  top: 24%;
  left: 21.9%;
}
.left_logo {
  position: absolute;
  top: 50%;
  left: 0%;
}

.right_logo {
  position: absolute;
  top: 44.1%;
  left: 60%;
}

.firstgroup__sidebar {
  height: 25%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-content: center;
}

.menucontainer__sidebar:hover {
  color: #d4d4fc;
  border-left: 3px solid #d4d4fc;
}
.secondgroup__wrapper:hover {
  color: #d4d4fc;

  border-left: 3px solid #d4d4fc;
}
.svg__hover:hover {
  color: #d4d4fc;
}
.menucontainer__sidebar {
  display: flex;

  transition: all 400ms linear;
  border-left: 3px solid black;
  cursor: pointer;

  /* margin-let: 25%; */

  width: 100%;
}
.secondgroup__sidebar {
  display: flex;
  cursor: pointer;
  flex-direction: column;

  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 90px;
  height: 15%;
}
.secondgroup__wrapper {
  position: relative;

  transition: all 400ms linear;
  border-left: 3px solid black;
  bottom: 40%;
  margin-top: 25px;

  width: 100%;
}
.upgrade__sidebar {
  display: flex;
  align-items: center;
  height: 33%;
  bottom: 5%;
  position: relative;

  max-height: 35%;
  overflow: hidden;

  justify-content: center;
}

.logout__sidebar:hover {
  color: #d4d4fc;

  border-left: 3px solid #d4d4fc;
}
.logout__sidebar {
  transition: all 400ms linear;
  cursor: pointer;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 3%;
}
